/* Colours */

#top {
  background: #E9E8D5;
}

#bottom {
  background: #2E2E2E;
}

/* Grid */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em 0;
}

.column {
  width: 45.4545455%;
  display: block;
}

.one {
  padding-right: 4.5454545%; /* 50px / 1100px */
  float: left;
}

.two {
  padding-left: 4.5454545%; /* 50px / 1100px */
  float: right;
}

.three {
  width: 33%;
  float: left;
}

.clear {
  clear: both;
}

/* Text */

body {
  font-family: 'PT Sans';
  font-size: 1.5em;
  color: #ACAB9F;
  text-align: center;
  background: #2E2E2E;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald';
  letter-spacing: 1.2;
  text-transform: uppercase;
  font-weight: 500;
    
}

h1,h2 {
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-size: 3.5em;
  color: #535353;
}

h2 {
  font-size: 5em;
  color: #9A6363;
}

h3 {
  font-size: 2em;
  font-weight: 400;
}

h4 {
  color: #9A6363;
  font-size: 1.5em;
  margin: 0 0 1.2em 0;
} 

h5 {
  color: #989892;
  margin: 0.5em 0 0 0;
  font-size: 1.3em;
}

p {
  letter-spacing: 2;
}

a {
  text-decoration: none;
}

/* Content */

.store_button {
  background: #98D38B;
  color: #fff;
  height: 5em;
  line-height: 5em;
  font-weight: 600;
  margin: 3em 0 1em 0;
  text-transform: uppercase;
}

a:hover .store_button {
  background: #73A269;
  color: #ddd;
}

img {
  max-width: 100%;
}

#newpatterns {
  border: 20px solid #DCDBC9;
  box-sizing: border-box;
}

.links {
  font-size: 2.5em;
  letter-spacing: 0.2em;
  margin-bottom: 2em;
  text-align: center;
}

.links a {
  color: #CDCCBD;
}
.links a:hover {
  color: #ADAC9D;
}

/* Bottom columns */

#longislandsound {
  max-width: 200px;
  border: 10px solid #393939;
}

.three p {
  font-size: 0.8em;
  letter-spacing: 1;
  margin: 0;
  color: #aaa;
}

.three a {
  color: #7B7B78;
}

.three a:hover {
  color: #5F5F5E;
}

#contact p {
  font-size: 0.7em;
  margin: 0.5em 0;
}

p.press {
  background: url('/img/download.png') left no-repeat;
  height: 56px;
  width: 200px;
  margin: 0 auto;
  padding-left: 65px;
  text-align: left;
  font-size: 0.7em;
}

p.press a {
  letter-spacing: 0.8;
  font-weight: bold;
}

/* Media queries */

@media screen and (max-width: 800px) {
  img {
    max-width: 400px;
    margin-bottom: 2em;
  }
  .container {
    width: 96%;
    padding: 0 2%;
  }
  .column, .three {
    width: 100%;
  }
  
  body {
    font-size: 1em;
  }
  
  p.press, #contact p {
    font-size: 1em;
  }
  
  h4 {
    font-size: 2.7em;
    margin: 1em 0 0.2em 0;
  }
}
